/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url('./image/cafe2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 20px auto;
}

#search {
    width: 200px;
    margin-left: auto;
    display: block;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    border-radius: 5px;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ff8c00;
    color: white;
}

.add-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    margin-right: 20px;
}

.add-button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Media Query untuk Responsivitas */

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }

    #search {
        width: 100%;
        margin-left: 0;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
